@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif !important;
}

body {
    background-color: #212121;
}

h1 {
    color: white;
    margin-left: 10px;
    margin-bottom: 20px;
    color: #FF762E;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    color: #FF762E;
}

h4 {
    font-size: 16px;
    font-weight: bold;
    color: #FF762E;
}

p {
    margin-bottom: 0.2rem;
    color: white;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

#menu {
    padding: 10%;
    z-index: 3;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
}

label {
    color: white;
}

.result-label {
    color: #FF762E;
    font-weight: bold;
}

textarea {
    margin-bottom: 10px;
}

#form-btn>.btn {
    margin-right: 1%;
}

#request-container {
    padding: 2% 0;
    min-height: 90vh;
}

#data-container {
    display: flex;
    flex-wrap: wrap;
}

.indicateur {
    width: 30%;
    padding: 2%;
    margin: 1%;
    border-radius: 6px;
    border: 2px solid white;
    -webkit-box-shadow: 8px 7px 10px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 8px 7px 10px -1px rgba(0, 0, 0, 0.4);
}

#download {
    height: 10vh;
}

#download-container>div {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}